#the-business {
/*	.et_pb_team_member_image {
	overflow:hidden;
	border-radius:100px;	max-width:200px;
	
	
		img {
			max-width:200px;
			height:auto;
			width:100%;
			
		}
	}*/
	
	.et_pb_team_member_image {
	    width: 200px;
	    border-radius:5px;
	    overflow:hidden;
	}
}