/* the-app */

#the-app .et_pb_image img {
  max-height: 55vh;
  width: auto;
}

#the-app .app-screen {
  display: none;
}

#the-app #app-screen-1 {
  display: block;
}

#the-app .et_pb_column_5 {
    text-align: center;
}

#the-app .feature-list {
    margin-bottom: 2vh;
    min-height: 1px;
}
#the-app .et_pb_row {
    width: 90%;
}

#the-app h4 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}


@media screen and (max-width: 768px) {
  #the-app .et_pb_column_5 {
    display: none;
  }
}

@media screen and (min-width: 980px) {
  #the-app p {
    font-size: 1em;
    line-height: 1em;  
  }
  #the-app h4 {
      font-size: 1.5em;
      margin-bottom: 0.2em;
  }
  #mobile-feat-gallery {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  #the-app p {
    font-size: 1.2em;
    line-height: 1.2em;  
  }
  #the-app h4 {
      font-size: 1.6em;
      margin-bottom: 0.2em;
  }
}

#the-app .et_pb_gallery_item {
  width: 12% !important;
  margin: 0 2% !important;
  clear: none;
}

#the-app .et_pb_gallery_title,
#the-app .et_pb_gallery_caption  {
  display: none;
}

/* Special for weird ratios. */
/* Super wide */
@media screen and (min-aspect-ratio: 2/1) {
  #the-app .et_pb_image img {
    max-height: 80vh;
  }
}
